{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-2 center-align">Add Category</h3>

<div class="row card_panel">
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
        <!-- Category Name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-folder-open prefix blue-text text-accent-1"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text" class="validate"
                    required>
                <label for="category_name">Category Name</label>
            </div>
        </div>
        <!-- Submit Button-->
        <div class="row">
            <div class="col-12 center-align">
                <button type="submit" class="btn-large blue accent-1">
                    Add Category <i class="fa-solid fa-square-plus"></i>
                </button>
            </div>
        </div>
</div>

</form>
</div>

{% endblock %}